.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.column-nav {
  width: 50%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half,
  .column-nav {
    padding: 1rem 0.75rem;
  }

  .column-nav {
    width: calc(100% / 3);
  }

  .no-margin {
    margin-top: 0;
    margin-bottom: 0;
  }

  .column-half {
    width: 50%;
  }
}
