body {
  background-color: #f0f0f0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
}

header {
  background-color: #562b81;
  color: white;
}

h1 {
  font-family: "Proza Libre", sans-serif;
  margin: 1rem 0;
}

.h2-entries {
  display: flex;
  justify-content: space-between;
}

img {
  width: 100%;
  object-fit: contain;
}

.inline {
  display: inline-block;
}

.home-page {
  margin-right: 1rem;
}

#photo,
#title,
textarea {
  padding: 0.5rem;
  border: 1px solid#b6b6b6;
  border-radius: 6px;
  width: 100%;
  resize: none;
}

label {
  font-family: "Proza Libre", sans-serif;
  display: block;
  margin-bottom: 0.5rem;
}

.new-entry-btn,
input[type="submit"] {
  background-color: #562b81;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  border-style: none;
}

input:focus,
textarea:focus {
  outline: 2px solid #562b81;
}

.margin-top-bot {
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}

.align-right {
  flex-direction: row-reverse;
}

/* NAV */
.nav-link-btn {
  text-decoration: none;
  color: white;
}

/* DATA ENTRIES */
ul {
  list-style: none;
}

.space-between-center {
  justify-content: space-between;
  align-items: center;
}
